## Homework

In [43]:
import pandas as pd
print(pd.__version__)

2.3.2

In [44]:
df=pd.read_csv('raw.csv')
# df.head()

In [45]:
#How many records are in the dataset?
df.shape

(9704, 11)

In [46]:
df.fuel_type.nunique()

2

In [47]:
df1=df.isnull().sum() 
df1[df1 > 0]

num_cylinders    482
horsepower       708
acceleration     930
num_doors        502
dtype: int64

In [48]:
df.columns

Index(['engine_displacement', 'num_cylinders', 'horsepower', 'vehicle_weight',
       'acceleration', 'model_year', 'origin', 'fuel_type', 'drivetrain',
       'num_doors', 'fuel_efficiency_mpg'],
      dtype='object')

In [49]:
df[df['origin']== 'Asia'].fuel_efficiency_mpg.max()

np.float64(23.759122836520497)

In [50]:
df.groupby('origin').fuel_efficiency_mpg.max()

origin
Asia      23.759123
Europe    25.967222
USA       24.971452
Name: fuel_efficiency_mpg, dtype: float64

In [51]:
#Find the median value of horsepower column in the dataset.
df.horsepower.median()

np.float64(149.0)

In [52]:
df.horsepower.unique()
# frequency of unique values in horsepower column
df.horsepower.value_counts().sort_values(ascending=False)

horsepower
152.0    142
145.0    141
151.0    134
148.0    130
141.0    130
        ...
40.0       1
57.0       1
245.0      1
252.0      1
61.0       1
Name: count, Length: 192, dtype: int64

In [53]:
df.horsepower.isnull().sum()

np.int64(708)

In [54]:
df2=df.horsepower.value_counts().sort_values(ascending=False)
#df2 first highest value horsepower
df2.index[0]

np.float64(152.0)

In [55]:
#Use fillna method to fill the missing values in horsepower column with the most frequent value from the previous step.
df.fillna(df2.index[0],inplace=True)

In [56]:
df.horsepower.isnull().sum()

np.int64(0)

In [57]:
df.horsepower.median()

np.float64(152.0)

In [58]:
# select all cars from Asia
df=df[df['origin'] == 'Asia']
df

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
8,250,1.0,174.0,2714.219310,10.3,2016,Asia,Diesel,Front-wheel drive,-1.0,16.823554
12,320,5.0,145.0,2783.868974,15.1,2010,Asia,Diesel,All-wheel drive,1.0,16.175820
14,200,6.0,160.0,3582.687368,14.9,2007,Asia,Diesel,All-wheel drive,0.0,11.871091
20,150,3.0,197.0,2231.808142,18.7,2011,Asia,Gasoline,Front-wheel drive,1.0,18.889083
21,160,4.0,133.0,2659.431451,152.0,2016,Asia,Gasoline,Front-wheel drive,-1.0,16.077730
...,...,...,...,...,...,...,...,...,...,...,...
9688,260,4.0,152.0,3948.404625,15.5,2018,Asia,Diesel,All-wheel drive,-1.0,11.054830
9692,180,3.0,188.0,3680.341381,18.0,2016,Asia,Gasoline,Front-wheel drive,1.0,11.711653
9693,280,2.0,148.0,2545.070139,15.6,2012,Asia,Diesel,All-wheel drive,0.0,17.202782
9698,180,1.0,131.0,3107.427820,13.2,2005,Asia,Gasoline,Front-wheel drive,-2.0,13.933716
9703,270,3.0,140.0,2908.043477,14.7,2005,Asia,Diesel,All-wheel drive,-1.0,14.884467

In [59]:
df[['vehicle_weight', 'model_year']]

      vehicle_weight  model_year
8        2714.219310        2016
12       2783.868974        2010
14       3582.687368        2007
20       2231.808142        2011
21       2659.431451        2016
...              ...         ...
9688     3948.404625        2018
9692     3680.341381        2016
9693     2545.070139        2012
9698     3107.427820        2005
9703     2908.043477        2005

[3247 rows x 2 columns]

In [60]:
df[['vehicle_weight', 'model_year']].head(7)

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019

In [61]:
X=df[['vehicle_weight', 'model_year']].values
X

array([[2714.21930965, 2016.        ],
       [2783.86897424, 2010.        ],
       [3582.68736772, 2007.        ],
       ...,
       [2545.07013932, 2012.        ],
       [3107.42781965, 2005.        ],
       [2908.04347736, 2005.        ]], shape=(3247, 2))

In [62]:
X.shape[1]

2

In [63]:
X.T.shape[0]

2

In [64]:
#Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
X.T.dot(X)

array([[3.01651358e+10, 1.96349896e+10],
       [1.96349896e+10, 1.31377985e+10]])

In [65]:
#Invert XTX.
import numpy as np

In [66]:
y=[1100, 1300, 800, 900, 1000, 1100, 1200]

In [ ]:
# Select all the cars from Asia
# Select only columns vehicle_weight and model_year
# Select the first 7 values
# Get the underlying NumPy array. Let's call it X.
# Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
# Invert XTX.
# Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
# What's the sum of all the elements of the result?
 
# Select all the cars from Asia
df_asia = df[df['origin'] == 'Asia']

# Select only columns vehicle_weight and model_year, first 7 values
X = df_asia[['vehicle_weight', 'model_year']].head(7).values

# Compute XTX and invert it
import numpy as np
XTX = X.T.dot(X)
XTX_inv = np.linalg.inv(XTX)

# Create y
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

# Calculate w
w = XTX_inv.dot(X.T).dot(y)

# Sum of all elements of w
w_sum = w.sum()
print(w_sum)

#w = (X^T X)^(-1) X^T y

0.5187709081074016

: